.MuiPaper-root {
  min-width: 345px;
}

.card {
  margin-top: 25px!important;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, .2)!important;
  background: linear-gradient(to top, rgba(255, 241, 235, 0.8) 0%, rgba(172, 224, 249, 0.8) 100%)!important;
  border-radius: 10px!important;
  padding: 10px;
}
