.masthead {
  padding-top: 0;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.task {
  display: flex;
}

.remove-task {
  color: white;
  cursor: pointer;
}

.done-checkbox {}

body {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background-attachment: fixed;
}

#img1 {
  position: absolute;
  right: 30px;
  bottom: -66px;
  top: 76px;
  left: auto;

}

#img2 {
  position: absolute;
  right: 66px;
  bottom: 0px;
  top: 403px;
  left: 290px;
}

#img3 {
  position: absolute;
  right: 33px;
  bottom: -6px;
  top: 915px;
  left: 15px;
}

#img4 {
  position: absolute;
  right: 0px;
  bottom: -66px;
  top: 1229px;
  left: 1038px;
}

#img5 {
  position: absolute;
  right: 0px;
  bottom: -66px;
  top: 76px;
  left: 30px;
  background-attachment: fixed;
}

#img6 {
  position: absolute;
  right: 30px;
  bottom: -66px;
  top: 816px;
  left: auto;
}