.LK {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.LK-info {
  width: 20%;
  font-family: 'Courier New', Courier, monospace;
  background-image: linear-gradient(to top, rgba(255, 241, 235, 0.8) 0%, rgba(172, 224, 249, 0.8) 100%);
  background-attachment: fixed;
}

.LK-body {
  width: 78%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, .2);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  background-image: linear-gradient(to top, rgba(255, 241, 235, 0.8) 0%, rgba(172, 224, 249, 0.8) 100%);
  background-attachment: fixed;
}

.LK-info {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, .2);
  text-align: center;
  border-radius: 10px;
  padding: 10px
}

.profile-left-navigate-li {
  margin-top: 10px;
  text-decoration: underline;
}

.profile-left-navigate-ul {
  text-decoration: none;
}

.profile-left-navigate-li:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgba(0, 0, 255, .5);
}

.LK__list-data-img {
  border-radius: 50%;
  max-width: 250px;
  width: 100%;
  height: 250px;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .LK__list-data-img {
    height: 203.188px;
  }
}

@media screen and (max-width: 1200px) {
  .LK__list-data-img {
    height: 167.188px;
  }
}

@media screen and (max-width: 992px) {
  .LK__list-data-img {
    /* height: 119.188px; */
  }
  .LK-info {
    width: 30%;
  }
  
  .LK-body {
    width: 68%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, .2);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-image: linear-gradient(to top, rgba(255, 241, 235, 0.8) 0%, rgba(172, 224, 249, 0.8) 100%);
    background-attachment: fixed;
  }

  .recipe-card-list {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .LK {
    flex-direction: column;
  }

  .LK-info {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .LK-body {
    width: 100%;
  } 

  .LK__list-data {
    display: none;
  }

  .profile-left-navigate-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .profile-left-navigate-li {
    margin: 0 10px 5px 10px;
  }
}



.LK__list-data-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.LK__list-data-item:last-child {
  margin-bottom: 0px;
}

.data-li__name {
  font-weight: bold;

}

.data-li__res {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-li__res:hover {
  background: rgba(0, 0, 255, .2);
  white-space: normal; 
}

/* color: #1D809F; */
