.cont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 50px;
}

.body-lk {
  width: 20%;
  font-family: 'Courier New', Courier, monospace;
}

.body-form {
  width: 80%;
}

.profile-left-navigate-li {
  list-style-type: none
}

.profile-left-navigate-ul a {
  text-decoration: none;
}
