.cards-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.cards-list__item {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 255, .2);
  border-radius: 10px;
  padding: 10px;
  max-width: 350px;
  width: 100%;
  margin-bottom: 20px;
}

.cards-list__item-title, .cards-list__item-body {
  overflow-wrap: break-word;
}

.list-priducts__item {
  background-color: rgba(0, 0, 255, .2);
  margin-right: 5px;
  padding: 3px;
  border-radius: 5px;
}
